* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 6vh;
    position: fixed;
    background-color: white;
    min-width: 100vw;
    z-index: 1;
}

footer {
    background-color: black;
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 4rem;
    text-align: justify;
    padding-right: 200px;
    margin: 3rem 0 2rem 0;
    min-width: 1400px;
}

h2 {
    font-size: 2rem;
    text-align: justify;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    margin-top: 2rem;
}
p > a {
    color: #0561FF;
}

p > span {
    display: inline-block;
    border-bottom: 1px solid lightgrey;
    padding:1rem .3rem 2rem 0;
}

h4 ~ li::before {
    content: "\2713";
    color: #0561FF;
    padding-right: .3rem;

}
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.between{
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.max-container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: inline-block;
}

header ul li{
    display: inline;
    padding: 1rem;
}

section.header-top {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 1rem;
}

div.header-left img {
    width: 100px;
    vertical-align: bottom;
}

.small-f {
    font-size: .8rem;
}

button.blue-button {
    padding: .4rem .78rem;
    background-color: #0561FF;
    color: white;
    border: none

}
section.top-section {
    background-color: #B4D0E7;
    padding-top: 4rem;
}

div.top-section-left{
    width: 23%;
}

div.top-section-left p{
    margin: 1.5rem 0;
}

div.top-section-left .fa-arrow-down {
    margin: 2rem 0 .8rem 0;
}

div.top-section-right img {
    width: 900px;
    height: 500px;
    position: absolute;
    top: 35%;
    right: 20%;
}

.card-section {
    margin-top: 15rem;
}

label[for=month] {
    padding-right: 2.5rem;
}

.radio-button {
    display: inline;
}

.column-card {
    height: 750px;
    width: calc(100% / 3);
}

.column-card,
.row-card {
    border: 1px solid lightgrey;
    margin: 2rem 0;
}

.middle-card {
    margin: 2rem;
}

.card-type {
    text-align: center;
    line-height: 3rem;
    border-bottom: 1px solid lightgrey;
}

.column-card ul {
    list-style: none;
}

.column-card ul li{
    list-style: none;
    line-height: 1rem;
    padding: .7rem 0;
}

.sub-type,
.sub-type-row {
    margin: 2rem 1.5rem;
    line-height: 2rem;
}

.sub-type-row {
    width: 75%;
}

.row-button {
    width: 25%;
    margin: 2rem;
}
.color-grey {
    color: grey
}


.column-button {
    width: 100%;
    margin: 1rem 0 .5rem 0;
}

.partners {
    margin-top: 6rem;
}
.img-partner .img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.partners-right {
    width: 30%;
}

.business-card {
    background-color: coral;
    width: calc((100% / 3) - 2rem);
    margin: 1rem;
}

.business-card .img {
    width: 320px;
    height: 150px;
    background-color: blue;
}

.business-cards h2 {
    margin-left: 1rem;
}

.top-features h2 {
    width: 40%;
}

.top-features{
    margin-top: 4rem;
}

.top-features > a {
    margin-top: 4rem;
}

.bottom-features {
    height: 640px;
}

.left-boxes,
.right-boxes {
    width: 640px;
}

.big-box {
    width: 640px;
    height: 640px;
    background-color: grey;
    display: inline-block;
}

.box {
    background-color: red;
    border: 2px solid black;
    width: 320px;
    height: 320px;
}
div.bottom-features{
    min-width: 1920px;
}
section.into-business {
    height: 280px;
    background-color: #B4D0E7;
}

.into-business > div {
    height: 100%;
}

.faqs {
    margin-top: 4rem;
}

.footer-top {
    justify-content: space-evenly;
    align-items: center;
}

.language i,
.language p{
    display: inline;
}